body {
  background-image: url(../images/1.jpg);
  background-size: cover;
}

h1 {
  background-color:Black;
  color:White;
  left:50%;
  right:0px;
  top:0px;
  position: absolute;
  border: 15px;
  padding:15px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: orange;
  position: relative;
  left:50%;
  top:46px;
  background-size: cover;
}

p {
  left:50%
  top: 75px
  position:relative;
  text-align: right;

}

li {
  float: left
}


li a{
  display:block;
  color: white;
  text-align:center;
  padding: 5px;
  text-decoration: none;

}
